/* Footer Styles */
.sidebar-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: var(--sidebar-bg-color);
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.theme-switch {
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color); */
  position: flex;
  justify-content: center;
  /* display: block; */
  width: 110px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 34px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.theme-switch span {
  margin-left: 5px;
}

/* Light Mode Styles */
body.light-mode {
  background-color: #ffffff;
  color: #080808;
}

body.light-mode .sidebar ul li:hover {
  background-color: #9789e7;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333333;
  color: #f0f0f0;
}

.dark-mode .sidebar {
  background-color: #1d1c227a;
  color: #f0f0f0;
}

.dark-mode .sidebar ul li:hover {
  background-color: #555555;
}

.dark-mode .navbar {
  background-color: #312f36;
  color: #f0f0f0;
}

.dark-mode .navbar ul li:hover {
  background-color: #242121;
}

.dark-mode .content-box {
  background-color: #252525;
  color: #f0f0f0;
}

.dark-mode .content-area {
  background-color: #252525;
  color: #f0f0f0;
}

.dark-mode .content-box ul li:hover {
  background-color: #242121;
}


