/* MainContent.css */
.content-area {
    margin-left: 270px; /* Offset for the sidebar */
    padding: 20px;
    height: 93.5vh;
    background-color: #f0f0f0; /* Light background for the whole content area */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.content-box {
    background-color: #f0f0f0; /* White background for the content box */
    border-radius: 25px 25px 0 0; /* Adjust the values as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin-top: 70px;
    height: 480px;
    width: calc(100vw - 270px - 40px); /* Calculate width based on viewport width and sidebar width */
}

.content-box h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 70px;
}

.content-box h4 {
    font-size: 15px;
    margin-bottom: 100px;
    color: #5a5959;
    font-style: italic; /* Set font style to italic */
}


.content-box .buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.content-box .buttons button {
    margin: 10px 10px;
    padding: 15px 15px;
    width: 150px;
    font-size: 18px;
    font-weight: bold; /* Set font weight to bold */
    font-style: italic; /* Set font style to italic */
    cursor: pointer;
    border: none;
    background-color: #a69bd8;
    color: #181717;
    border-radius: 5px;
}


.content-box .buttons button:hover {
    background-color: #9789e7;
}

.login-clicked h1,
.login-clicked h4 {
  transform: translateY(-150%);
}

/* Light Mode Styles */
/* body.light-mode {
    background-color: #ffffff;
    color: #080808;
}

body.light-mode .content-area ul li:hover {
    background-color: #9789e7;
}

body.light-mode .content-box ul li:hover {
    background-color: #9789e7;
} */

/* Dark Mode Styles */
/* body.dark-mode {
    background-color: #333333;
    color: #f0f0f0;
}

.dark-mode .content-area {
    background-color: #0501167a;
    color: #f0f0f0;
}

.dark-mode .content-box {
    background-color: #0501167a;
    color: #f0f0f0;
}


body.dark-mode .content-area ul li:hover {
    background-color: #555555;
} */